<!DOCTYPE html>
<html>
	<head>
		<title>yelpcamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
			 <link rel="stylesheet" text="text/css" href="/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/5d70436546.js" crossorigin="anonymous"></script>
		
	</head>
	<body>	

		
<nav class="navbar navbar-inverse  " >
	<!-- navbar-fixed-top ---- for keepig the navbar fixed -->
	<!-- I can write navbar navbar-inverse to get a inbuilt blueish background -->
<div class="container">
	     <div class="navbar-header">
		 <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-picture" ></span>YelpCamp</a>
         </div>
         <div >
            <div class="collapse navbar-collapse">
			    <ul class=" nav navbar-nav navbar-right">
				<%if(!currentUser){%>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Signup</a></li>
				<%}else{%>
				<li><a href="">Signed In As :<%=currentUser.username%></a></li>
				<li><a href="/logout">Logout</a></li>
				<%}%>
			    </ul>
		    </div>
        </div>
    </div> 
</nav>
		
		
		
		<div class="container">
			<%if(error&&error.length>0){%>
			<div class="alert alert-danger" role="alert"><%=error%></div>
			<%}%>
		<%if(success&&success.length>0){%>
			<div class="alert alert-success" role="alert"><%=success%></div>
			<%}%>
		</div>
			
	